// Import
@import "./variable";

// Home Style
.home {
    .badge-role {
        .badge {
            background-color: $primary-color;
            padding: 0 84px;
        }
    }
    .carousel {
        margin-top: -40px;
    }
}

// Mobile Configuration
@media screen and (max-width: 768px) {
    .home {
        .badge-role {
            position: absolute;
            top: 10vh;
            .badge {
                padding: 0 40px;
            }
        }
        .col-sm-7 {
            margin-top: -6vh;
        }
        .col-sm-5 {
            margin-top: 10vh;
        }
        .carousel {
            margin-top: 30px;
        }
    }
}
